.header {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    color: var(--light);
    background-color: var(--dark);
    border-bottom: 1px solid var(--light);
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 1em;
}

/* todos os botões de ícone */
.icon-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    line-height: 0;
    cursor: pointer;
}

/* icones */
.icon-button img {
    width: 100%;
    /* filter: invert(1); /* se der tempo de implementar temas */
}