.app-footer {
  background-color: var(--dark);
  padding: 8px 24px 16px;
  border-top: 1px solid var(--light);
}

.bottom-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  background: none;
  border: none;
  padding: 4px;
  margin: 0;
  line-height: 0;
  cursor: pointer;
  opacity: 0.7;
  /*transition: opacity 0.2s ease, transform 0.2s ease;*/
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(.25,.1,.25,1);
}

.nav-item img {
  width: 22px;
  height: 22px;
  /*filter: invert(1); /* se der tempo de implementar temas */
}

.nav-item--active {
  opacity: 1;
  transform: translateY(-2px);
}

.nav-item:hover {
  opacity: 1;
}
