<header class="header">
  <button class="icon-button" id="btn-menu" aria-label="Abrir menu">
    <img src="./img/app/icons/menu.svg" alt="" />
  </button>

  <div class="header-actions">
    <button class="icon-button" id="btn-notifications" aria-label="Notificações">
      <img src="./img/app/icons/notifications.svg" alt="" />
    </button>

    <button class="icon-button" id="btn-settings" aria-label="Configurações">
      <img src="./img/app/icons/settings.svg" alt="" />
    </button>
  </div>
</header>
