@import url("./components/header.css");
@import url("./components/footer.css");

:root {
    --dark: #191715;
    --light: #F7F2E5;
    --primary: #9086E1;
    --primary-alt: #E0DF87;
    --gray: #2B2825;
    --primary-dark: #343050;
}

body {
    font-family: system-ui, -apple-system, Roboto, "Segoe UI", Arial;
}

html, body {
    height: 100%;
}

.app-body {
    margin: 0;
    background-color: var(--dark);
}

.app-shell {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--dark);
}

.app-shell > header,
.app-shell > footer {
  flex: 0 0 auto;
}

#app-main {
  flex: 1 1 auto;
  overflow-y: auto;  /* scroll interno */
}
